<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4열 2행테이블</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/user_ticket.css' %}">
</head>
<body>
  <!-- 네비게이션 바 -->
  <div class="navbar-wrapper"></div>
  <div class="navbar">
    <div class="logo">Let's Korail</div>
  </div>

  <nav>
    <a href="/" class="head_menu">홈</a>
    <a href="" class="head_menu">혜택</a>
    <a href="" class="head_menu">나의 티켓</a>
  </nav>

  <!-- 메뉴탭 밑에 전체 화면을 감싸는 컨테이너 -->
  <div class="container">


    <form action="gf">
            <div class="ticket-info">
                <input type="password">
              <button >입력</button>
            </div>
        </form>



</div>


</body>
</html>
</title>
</head>
<body>

</body>
</html>